# GDP and Education
##### Ing. Jean Didier KOUAKOU /jeandidikouakou@gmail.com/+225 0555420217

#### Data loading

In [6]:
import pandas as pd

# Donn√©es
data = {
    'Country': ['Country1', 'Country2', 'Country3', 'Country4', 'Country5'],
    'GDP (Billion $)': [1500, 3000, 2000, 4000, 2500],
    'Education Spending (% of GDP)': [5, 6, 4, 3, 7],
    'Unemployment Rate (%)': [4.5, 3.2, 5.1, 6.0, 2.8],
    'Life Expectancy (years)': [78, 82, 75, 80, 85]
}

df = pd.DataFrame(data)
df

,Country,GDP (Billion $),Education Spending (% of GDP),Unemployment Rate (%),Life Expectancy (years)
0,Country1,1500,5,4.5,78
1,Country2,3000,6,3.2,82
2,Country3,2000,4,5.1,75
3,Country4,4000,3,6.0,80
4,Country5,2500,7,2.8,85

#### Exercise 1: Calculate the amount spent on education for each country in billion dollars. Display the results as a DataFrame.

In [8]:
df["Amount spent on Education (Billion $)"]=(df["GDP (Billion $)"]*df["Education Spending (% of GDP)"])/100
df

,Country,GDP (Billion $),Education Spending (% of GDP),Unemployment Rate (%),Life Expectancy (years),Amount spent on Education,Amount spent on Education (Billion $)
0,Country1,1500,5,4.5,78,75.0,75.0
1,Country2,3000,6,3.2,82,180.0,180.0
2,Country3,2000,4,5.1,75,80.0,80.0
3,Country4,4000,3,6.0,80,120.0,120.0
4,Country5,2500,7,2.8,85,175.0,175.0

#### Exercise 2: Identify the country with the lowest unemployment rate. Display the country and the unemployment rate.

In [10]:
lowest_unemployment_rate=df.loc[df["Unemployment Rate (%)"].idxmin()]
lowest_unemployment_rate[["Country","Unemployment Rate (%)"]]

Country                  Country5
Unemployment Rate (%)         2.8
Name: 4, dtype: object

#### Exercise 3: Calculate the average life expectancy for all countries. Display the result.

In [12]:
Average_life=df["Life Expectancy (years)"].mean()
Average_life

80.0

#### Exercise 4: Calculate the correlation between GDP and education spending. Interpret the result.

In [13]:
correlation = df["GDP (Billion $)"].corr(df["Education Spending (% of GDP)"])
correlation

-0.3287979746107145

#### Exercise 5: Suppose each country‚Äôs GDP increases by 3% per year for 4 years. Calculate and display the projected GDP for each country after 4 years.

In [17]:
df["Projected GDP (Billion $)"]=df["GDP (Billion $)"]*(1+0.03)**4
df[["Country", "GDP (Billion $)", "Projected GDP (Billion $)"]]

    Country  GDP (Billion $)  Projected GDP (Billion $)
0  Country1             1500                1688.263215
1  Country2             3000                3376.526430
2  Country3             2000                2251.017620
3  Country4             4000                4502.035240
4  Country5             2500                2813.772025