# Solar Energy Exercises
##### Ing. Jean Didier KOUAKOU /jeandidikouakou@gmail.com/+225 0555420217

#### Data loading

In [12]:
import pandas as pd

# Donn√©es
data = {
    'Country': ['CountryA', 'CountryB', 'CountryC', 'CountryD', 'CountryE'],
    'Solar Energy Capacity (GW)': [50, 120, 30, 200, 80],
    'Solar Energy Production (TWh)': [70, 180, 40, 300, 120],
    'Population (millions)': [60, 100, 30, 200, 80],
    'Solar Percentage (%)': [15, 25, 10, 30, 20]
}

df = pd.DataFrame(data)
df

,Country,Solar Energy Capacity (GW),Solar Energy Production (TWh),Population (millions),Solar Percentage (%)
0,CountryA,50,70,60,15
1,CountryB,120,180,100,25
2,CountryC,30,40,30,10
3,CountryD,200,300,200,30
4,CountryE,80,120,80,20

#### Exercise 1: Calculate the solar energy production per capita for each country (in MWh). Display the results as a DataFrame.

In [5]:
df["Solar Energy Production per capita (MWh)"]=df["Solar Energy Production (TWh)"]/df["Population (millions)"]
print(df[["Country","Solar Energy Production per capita (MWh)"]])

    Country  Solar Energy Production per capita (MWh)
0  CountryA                                  1.166667
1  CountryB                                  1.800000
2  CountryC                                  1.333333
3  CountryD                                  1.500000
4  CountryE                                  1.500000

#### Exercise 2: Identify the country with the highest solar energy capacity per capita. Display the country and the capacity per capita.

In [10]:
#First method
df["Solar Energy Capacity per capita (kW)"]=df["Solar Energy Capacity (GW)"]/df["Population (millions)"]
highest_solar_energy_capacity=df.sort_values("Solar Energy Capacity per capita (kW)", ascending=False)
highest_solar_energy_capacity[['Country', 'Solar Energy Capacity per capita (kW)']]

    Country  Solar Energy Capacity per capita (kW)
1  CountryB                               1.200000
2  CountryC                               1.000000
3  CountryD                               1.000000
4  CountryE                               1.000000
0  CountryA                               0.833333

In [11]:
#Second method
df["Solar Energy Capacity per capita (kW)"]=df["Solar Energy Capacity (GW)"]/df["Population (millions)"]
highest_solar_energy_capacity=df.loc[df["Solar Energy Capacity per capita (kW)"].idxmax()]
highest_solar_energy_capacity[['Country', 'Solar Energy Capacity per capita (kW)']]

Country                                  CountryB
Solar Energy Capacity per capita (kW)         1.2
Name: 1, dtype: object

#### Exercise 3: Calculate the ratio of solar energy production to installed capacity for each country. Display the results.

In [16]:
df["Solar Prod Ratio"]=df["Solar Energy Production (TWh)"]/df["Solar Energy Capacity (GW)"]
df[["Country","Solar Prod Ratio"]]

    Country  Solar Prod Ratio
0  CountryA          1.400000
1  CountryB          1.500000
2  CountryC          1.333333
3  CountryD          1.500000
4  CountryE          1.500000

#### Exercise 4: Calculate the correlation between solar energy capacity and solar energy production. Interpret the result.

In [17]:
correlation = df["Solar Energy Capacity (GW)"].corr(df["Solar Energy Production (TWh)"])
print("The correlation between the two variables is :", correlation)

The correlation between the two variables is : 0.9998505872756203

#### Exercise 5: Suppose each country increases its solar energy capacity by 10% per year for 5 years. Calculate and display the projected capacity for each country after 5 years.

In [18]:
df['Projected Capacity (GW)']=df["Solar Energy Capacity (GW)"]*(1+0.01)**5
df[["Country","Solar Energy Capacity (GW)","Projected Capacity (GW)"]]

    Country  Solar Energy Capacity (GW)  Projected Capacity (GW)
0  CountryA                          50                52.550503
1  CountryB                         120               126.121206
2  CountryC                          30                31.530302
3  CountryD                         200               210.202010
4  CountryE                          80                84.080804